

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-right: 150px;
 }

header {
  padding: 0px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;  
  justify-content: flex-end;
}

header p {
  padding: 0px 20px;  
  margin: 0;
}
footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
.col-sm-6 img{
  height: 200px;
  width: 200px;
  float:left;
  padding: 5px;
}
